{# app/Resources/views/default/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
All Vehicles
{% endblock %}

{% block links %}
    <div class="btn-group" >
       <a href="{{url('vehicle_create')}}"> <button type="button" class="btn btn-xs btn-success">Create Vehicle</button></a>
    </div>
{% endblock %}


{% block body %}
<table width="100%">
	<tr>
		<th>Name</th>
        <th>Type</th>
        <th>Plate</th>
		<th>Fuel</th>
		<th>Transmission</th>
		<th>Description</th>
		<th>Status</th>
	</tr>

    {% for vehi in vehicles %}
        <tr>
        <td>
        <a href="{{url('vehicle_viewAll',{'id':vehi.id})}}">{{ vehi.name|e }}</a>
        </td>

        <td>{{ vehi.type|e}}
        </td>

		<td>{{ vehi.plate|e }}
        </td>


        <td>{{ vehi.fuel|e }}
        </td>

        <td>{{ vehi.transmission|e }}
        </td>

        <td>{{ vehi.description|e }}
        </td>


       	<td>{%if vehi.status==1 %} Available {% endif %}
            {%if vehi.status==0 %} Unavailable {% endif %}

        </td>
        </tr>
    {% endfor %}
</ul>

{% endblock %}